@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body{
    font-family: "Poppins", sans-serif;
}

/* Pengaturan Tombol Warna Merah */
.btn-danger{
    background-color: red;
    border-radius: 10px;
    border-color: red;
    padding: 6px 40px;
    color: white;
}
/* Pengaturan Tombol Warna Merah */

/* Pengaturan Tombol Outline Warna Merah Pada Bagian Menu Berita*/
.btn-outline-danger{
    background-color: transparent;
    border-radius: 10px;
    border-color: red;
    padding: 6px 40px;
    color: red;
}
/* Pengaturan Tombol Outline Warna Merah Pada Bagian Menu Berita*/

/* Navbar */
.nav-item .nav-link{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}
/* Navbar */

/* Menghilangkan Navbar ketika scroll ke bawah */
.scroll-nav-active{
    background-color: white;
    /* border-bottom: 1px solid red; */
    box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 0.08);
}

.text-nav-active{
    color: black;
}
/* Menghilangkan Navbar ketika scroll ke bawah */

#hero{
    background-image: url("../../assets/images/banner-2-anime.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
}

.hero-title{
    padding-top: 250px;
}

.hero-text{
    font-size: 45px;
    font-weight: 600;
}

/* Memberikan Efek Blur Pada Bagian Preview Berita */
.img-outline-berita {
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3); /* Ukuran dan warna shadow */
    border-radius: 10px; /* Atur sesuai dengan border-radius gambar */
    overflow: hidden; /* Penting untuk memastikan shadow terpotong sesuai dengan border-radius */
}

.img-outline-berita img {
    width: 100%;
    height: auto;
    display: block;
}
/* Memberikan Efek Blur Pada Bagian Preview Berita */

.stripe{
    height: 5px;
    width: 20px;
    background-color: red;
}

/* Pengaturan Video */
/* #video{
    background-image: url("../../assets/images/ab-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;

} */
/* Pengaturan Video */

/* Paralax Background Bagian Prestasi*/
.section-foto{
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 500px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax{
    background-image: url("../../assets/images/banner-2-anime.jpg");
}

.stripe-putih {
    height: 5px;
    width: 40px;
    background-color: #fff;
}

/* .btn-outline-white{
    background-color: fixed;
    border-radius: 10px;
    border-color: #fff;
    padding: 6px 40px;
    color: #fff;
} */
/* Paralax Background Bagian Prestasi*/

/* Memberikan Efek Blur Pada Bagian Preview Prestasi */
.img-outline-prestasi {
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1); /* Ukuran dan warna shadow */
    border-radius: 10px; /* Atur sesuai dengan border-radius gambar */
    overflow: hidden; /* Penting untuk memastikan shadow terpotong sesuai dengan border-radius */
}

.img-outline-prestasi img {
    width: 100%;
    height: auto;
    display: block;
}
/* Memberikan Efek Blur Pada Bagian Preview Prestasi */

/* Departemen */
 